<!DOCTYPE html>


<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>CSS</title>
<style>

nav-link{
    display: inline-block;
    font-size:small;
}

.navbar-light{
  background-color:honeydew;
}
.navbar-brand {
  padding: 0.4rem !important;
  background-color: rgb(30, 151, 121) !important;
  border-radius: 5px;
  color: white !important;
}
navbar-toggler{
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: honeydew;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

nav {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.container{
  padding: 5rem;
  background-color:honeydew !important;
  border-radius: 10px;
  border-color: rgb(195, 222, 222);
}
.container-md{
  display: flex;
  padding: .7rem;
  background-color:honeydew !important;
  border-radius: 10px;
  border-color: rgb(195, 222, 222);
}
body{
  background-color:rgb(195, 222, 222);
  background-image: url("images/ship-3587946_1920.jpg");
}
.display-4{
  font-size: 28px;
}

.comp-image{
  size: 10px;
}
.thumbnail{
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  size: 10px;
  max-width: 100%; height: auto; 
}
.row{
  display:flex;
  flex-wrap: wrap;
}
.column{
  flex: 50%;
}
.table{

}

h1 {
  margin-bottom: 15px;
  font-size: 60px;
  color: rgb(30, 151, 121);
  text-align: center;

}

h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 40px;
  text-align: center;
}

h3 {
  margin-top: 15px;
  font-size: 20px;
  text-align: center;
  color: rgb(30, 151, 121);
}

.vr{
  border-radius:50rem;
  background-color:rgb(195, 222, 222);
  padding: 1.7rem
}

.table{
  padding: .3rem;
}

.images{
  border-radius: 50rem;
  width: 60px;
  max-width: 100%; height: auto; 
}


p {
  text-align: left;
  font-size: 16px;
}

ul {
  text-align: center;
  font-size: 16px;
  list-style-position: inside;
}

@media (max-width: 480px) {
  .navbar li {
    padding: 10px;
  }

  .post {
    margin-right: 30px;
    margin-left: 30px;
  }

  .navbar ul {
    visibility: hidden;
  }

  #nav-select {
    visibility: visible;
  }
}

</style>
</head>
